[mysqld]
# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd
user = mysql

datadir = /var/lib/mysql
tmpdir = /var/tmp/mysql
port = 3306
socket = /var/lib/mysql/mysql.sock

# --- メモリ4GB の例の1/2、メモリ8GB の例の1/4
character_set_server = utf8
max_connections = 256  # デフォルトは 300
open_files_limit = 2048  # デフォルトは 1024
table_open_cache = 1024  # デフォルトは 400

# --- メモリ4GB の例もメモリ8GB の例も同様
read_buffer_size = 256K
read_rnd_buffer_size = 512K
join_buffer_size = 256K
log_bin = mysql-bin
binlog_format = MIXED
max_binlog_size = 128M
expire_logs_days = 0  # デフォルトは 0
# server_id = 1  # レプリケーション設定時に指定する
slow_query_log
long_query_time = 1
log_queries_not_using_indexes

# --- メモリ4GB の例とメモリ8GB の例を見ただけでは詳細不明
table_definition_cache = 400  # デフォルトは 400
# key_buffer_size = 16M

innodb_buffer_pool_size = 1G
innodb_additional_mem_pool_size = 16M
innodb_file_per_table
innodb_autoextend_increment = 16  # デフォルトは 8（MB）
innodb_log_files_in_group = 2  # デフォルトは 2
# innodb_log_file_size = 128M
# innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 1  # デフォルトは 1
innodb_flush_method = O_DIRECT
innodb_thread_concurrency = 6  # デフォルトは 0（無制限）
innodb_commit_concurrency = 3  # デフォルトは 0（無制限）

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# Semisynchronous Replication
# http://dev.mysql.com/doc/refman/5.5/en/replication-semisync.html
# uncomment next line on MASTER
;plugin-load = rpl_semi_sync_master = semisync_master.so
# uncomment next line on SLAVE
;plugin-load = rpl_semi_sync_slave = semisync_slave.so

# Others options for Semisynchronous Replication
;rpl_semi_sync_master_enabled = 1
;rpl_semi_sync_master_timeout = 10
;rpl_semi_sync_slave_enabled = 1

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

[mysqld_safe]
log-error = /var/log/mysqld.log
pid-file = /var/run/mysqld/mysqld.pid

